<h1>Password Generator</h1>

<div>
  <label>Enter length</label> <br />
  <input (input)="onChangeLength($event)" />
</div>

<div>
  <input (click)="onChangeUseLetters()" type="checkbox" />
  <label>Use Letters</label>
</div>

<div>
  <input (click)="onChangeUseNumbers()" type="checkbox" />
  <label>Use Numbers</label>
</div>

<div>
  <input (click)="onChangeUseSymbols()" type="checkbox" />
  <label>Use Symbols</label>
</div>

<div>
  <button
    [disabled]="!(length && (useLetters || useSymbols || useNumbers))"
    (click)="onGenerateButtonClick()"
  >
    Generate
  </button>
</div>

<div>
  <label>Your Password</label>
  <input [value]="getPassword()" />
</div>
